##### This notebook will introduce the data analysis

##### We will analyze Bangladesh's economic data for last few years.

##### First thing first, we will load the data and analyze it

In [3]:
import pandas as pd
import math

In [4]:
data = pd.read_csv('BizDataINSIGHTMaster.xlsx-Economy.csv')
data.head()

,Sector,Calendar Year,Budget Year,Indicator,Source,Calendar Value,Budget Value,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Unit
0,Economy,NaN,2018-2019,Account Balance,Bangladesh Bank,NaN,-5.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Billion USD
1,Economy,NaN,2017-2018,Account Balance,Bangladesh Bank,NaN,-9.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Billion USD
2,Economy,NaN,2016-2017,Account Balance,Bangladesh Bank,NaN,-1.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Billion USD
3,Economy,NaN,2015-2016,Account Balance,Bangladesh Bank,NaN,4.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Billion USD
4,Economy,NaN,2014-2015,Account Balance,Bangladesh Bank,NaN,3.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Billion USD

##### This database has yearly, budget yearly and monthly data. We have yearly data with indicator and source. We will seperate the data into yearly, budget yearly and monthly to get a clear picture.

In [6]:
data1 = data.copy()
data1 = data1.dropna(subset=['Calendar Year','Calendar Value'])
data1.head()

,Sector,Calendar Year,Budget Year,Indicator,Source,Calendar Value,Budget Value,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Unit
114,Economy,2011.0,NaN,Current Account Balance,World Bank,-161.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Million USD
115,Economy,2012.0,NaN,Current Account Balance,World Bank,2575.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Million USD
116,Economy,2013.0,NaN,Current Account Balance,World Bank,2058.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Million USD
117,Economy,2014.0,NaN,Current Account Balance,World Bank,755.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Million USD
118,Economy,2015.0,NaN,Current Account Balance,World Bank,2579.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Million USD

In [7]:
data1 = data1[["Calendar Year","Calendar Value", "Indicator","Unit"]]
data1.head()

     Calendar Year Calendar Value                Indicator         Unit
114         2011.0        -161.84  Current Account Balance  Million USD
115         2012.0        2575.50  Current Account Balance  Million USD
116         2013.0        2058.47  Current Account Balance  Million USD
117         2014.0         755.79  Current Account Balance  Million USD
118         2015.0        2579.62  Current Account Balance  Million USD

### Now we can see data1 contains all the yearly data along with the indicators. Now we can analyze and view the data

In [11]:
#Total number of unique indicators
len(data1['Indicator'].unique())

39